$clr-primary: hsl(183, 100%, 15%);
$clr-secondary: hsl(186, 14%, 43%);
$clr-tertiary: hsl(184, 14%, 56%);
$clr-light: hsl(185, 41%, 84%);
$clr-verylight: hsl(189, 41%, 97%);
$clr-white: hsl(0, 0%, 100%);


$ff-primary: "Space Mono", monospace;

$break-lg: 1440px;
$break-md: 490px;
$break-sm: 320px;